<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:blanchedalmond;">Angular Bot</a>
  </nav>    
  <div class="container"><br>
    <div class="col-md-6 offset-md-3">

        <ng-container style="padding-top: 50px;" *ngFor="let message of messages | async">
            <div class="message" [ngStyle]="getStyle()">
            {{message.content}}
            </div>
            <br>
        </ng-container>
        
        <input [(ngModel)]="formValue" placeholder="Your Message..." (keyup.enter)="sendMessage()" type="text">    
        <button class="input-group-text-btn btn-outline-primary" (click)="sendMessage()">Send</button>
        </div> 
  </div>


